<main id="main" class="main">

    <div class="pagetitle">
      <h1>Produit</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
          <li class="breadcrumb-item active">Produit</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <form [formGroup]="productForm" (ngSubmit)="handleSaveProduct()">
        <div class="input-group has-validation">
          <div class="w-100">
            <mat-form-field class="w-100">
              <input matInput placeholder="Libelle" formControlName="libelle"/>
              <mat-error *ngIf="libelle?.errors?.['required']">Le libelle est recquis</mat-error>
            </mat-form-field>
          </div>
          <div class="w-100">
            <mat-form-field class="w-100">
              <input matInput placeholder="Prix" formControlName="prix"/>
              <mat-error *ngIf="prix?.errors?.['required']">Le prix est recquis</mat-error>
            </mat-form-field>
          </div>
          <div class="w-100">
            <mat-form-field class="w-100">
              <input matInput placeholder="Composants (Pain, Viande, Sauce ...)" formControlName="composants"/>
              <mat-error *ngIf="composants?.errors?.['required']">Les composants sont recquis</mat-error>
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-dark btn-submit" style="margin: 20px 10px;">Soumettre</button>
        </div>
      </form>
    </section>

  </main>
