<main id="main" class="main">

    <div class="pagetitle">
      <h1>Menu</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
          <li class="breadcrumb-item active">Menu</li>
        </ol>
      </nav>
    </div>

    <section class="section">
        <form class="row g-3 col-10" (ngSubmit)="handleSaveMenu()" enctype="multipart/form-data">
          <div class=" col-3">
            <label for="inputEmail4" class="form-label">Libelle</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Menu Burger" [(ngModel)]="menu.libelle" name="libelle">
          </div>
          <div class="col-md-4 col-4">
            <label for="inputState" class="form-label">Categorie</label>
            <select id="inputState" class="form-select" [(ngModel)]="menu.category" name="category">
              <option *ngFor="let category of categories" value="{{category.id}}">{{category.libelle}}</option>
            </select>
          </div>
          <div class="my-3 col-6">
            <img src="{{imgSrc}}" width="350px">
            <label for="formFile" class="form-label">Selectionnez une image</label>
            <input class="form-control" type="file" name="image" (change)="showPreview($event)" accept="image/png, image/jpeg">
          </div>
          
          <div class="col-12">
            <label for="inputState" class="form-label">Produits ( maintenir ctrl pour selectionnez plusieurs)</label>
            <select id="sltPrdts" class="form-select" multiple [(ngModel)]="menu.products" name="products">
              <option *ngFor="let product of products">{{product.libelle}}</option>
            </select>
          </div>
          
          <button type="submit" class="btn btn-dark col-2">Soumettre</button>
        </form>
    </section>

  </main>
